{
  "presets": ["react-native", "react-native-dotenv"],
  "env": {
    "test": {
      "presets": ["react-native", "react-native-dotenv"]
    },
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}
