android/api-7588742695205580826-52827-9e50835d28d3.json

# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

.swo
.swp

ios/Pods
coverage/
package-lock.json

save

# This is the commit message #2:

save

# This is the commit message #3:

save

# This is the commit message #4:

save

# This is the commit message #5:

save

# This is the commit message #6:

save

# This is the commit message #7:

save
save

# This is the commit message #2:

save

# This is the commit message #3:

save

# This is the commit message #4:

save

# This is the commit message #5:

save

# This is the commit message #6:

save

# This is the commit message #7:

save
