<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>373350399276-r5rkqlv8uot75va5hou2hjlpp4s6nmvb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.373350399276-r5rkqlv8uot75va5hou2hjlpp4s6nmvb</string>
	<key>API_KEY</key>
	<string>AIzaSyCtxsq7GXqr65brWIouz309JCz2xeJ8C88</string>
	<key>GCM_SENDER_ID</key>
	<string>373350399276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.equesteo.equesteo</string>
	<key>PROJECT_ID</key>
	<string>stately-minutia-208016</string>
	<key>STORAGE_BUCKET</key>
	<string>stately-minutia-208016.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:373350399276:ios:2d1c69511e22981f</string>
	<key>DATABASE_URL</key>
	<string>https://stately-minutia-208016.firebaseio.com</string>
</dict>
</plist>